
/*

#titulo{
    color: brown;
}


.nav-enlace{
    background-color: pink;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    margin: 1px;
}

.nav-enlace:hover{
    background-color: aqua;
}

nav{

    background: rgb(204, 91, 110);
    padding: 20px;
    margin: 10px;
    border-style: double;
    border-width: 3px;
    display: flex;
    justify-content: space-around;
}
    @media (max-width: 500px) {
        nav{
            background:red;
            flex-direction: column;
        }
        /*sirve para decir que desde tales pixeles se comporte de tal forma*/
    

/*
.columna{
    background-color: pink;
    color:gray;
    width: 30%;
    margin: 10px;
    border-style: double;
    text-align: center;
    
}

.Padre{
    display:flex;
    justify-content: space-around;
}

  @media (max-width: 500px) {
        .Padre{
            background:red;
            flex-direction: column;
            justify-content: center;
            flex-direction: column;
        }

        .columna{
            background:red;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            text-align: center;
            margin: px;
        }
    }
  */
        /*sirve para decir que desde tales pixeles se comporte de tal forma*/


.container{
    margin: 0 auto;
    width: 90%;
}

.columna{
    border-style: double;
    margin: 5px;
    display: inline-block;
    text-align: center;
    padding: 25px;
    background-color: white;
}

.BotonPrecio{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-style: double;
    background-color: skyblue;
    text-decoration: none;
}

.BotonPrecio:hover{
    cursor: crosshair;
    background-color: pink;
}
 
@media (max-width: 500px){
    .columna{
        flex-direction: column;
        display: flex;
        width: 70%;
        background-color: red;
    }
}

.prueba{
    color: blue;
}
    
