body{
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}


.Contenedor{
    margin: 0 auto;
    width: 90%;
    display: flex;        
    justify-content: center;
}


.Plantas{
    border-style: double;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    
   
    vertical-align: top;
    padding: 50px;
    padding-top: 0;
    margin: 5px;
    

    text-align: center;

    box-shadow: 0px 5px 10px;
    background-color: rgb(177, 198, 170);

    width: 120px;        
    height: 380px;
}


.Plantas img{
    max-width: 80px;
    height: 100px;
    border-radius: 30px;
}

.Boton{
    text-decoration: none;
    color: black;
    border-style: double;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: greenyellow;
    cursor: cell;
}

.Boton:hover{
    background-color: blue;
}

.Bienvenida{
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/Plantas/intro.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

table{
    background-color: red;
    font-size: 30px;
     margin: 13px;
     
}

table td{
    background-color: blue;
    padding: 10px;
}

table td:hover{
    background-color: pink;
    border-style: double;
}

